body{
        background-image: url("bluebg.jpg");
}
table{
    background-color: white;
    width: 60%;
    margin: auto;
}
h1 {
    font-family: 'Calibri', sans-serif;
    color: darkcyan;
    font-size: 30pt;
    padding: 0px;
    font-weight: 400;
    margin-bottom: 0px;
}
 
h2{  
    font-family: 'Calibri',sans-serif;
    font-size: 22pt;
    color: darkcyan;
    padding: 0px;
    font-weight: 100;
    margin-top: 0px;

}
p{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 18px;
}
ul{
    text-align: left;
    color: red;
}
u{
    border-color: darkblue;
    border-bottom: dashed 2pt;
    text-decoration: none;
}
.pad{
    padding: 5px;
}
.header {
    background-color: cyan;
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
}
.friends{
    text-align: center;
    border: 2pt;
    border-style: solid;
    border-color: lightseagreen;
    background-color: aquamarine;
}
.journal{
    border: 2pt;
    border-color: rgb(0, 208, 255);
    background-color: aliceblue;
    border-style: solid;
    border-radius: 2pt;
}
.pic{
    display: flex;
    align-items: center;
    width: 90%;
}